@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700;800&display=swap');

*{  padding:0%;
    margin: 0%;
    box-sizing: border-box;
    
}

body{
    border: 2px solid blue;
    border-radius: 60%;
    background-color: blue;
    width: 70%;

}

.img_div img{
    border-radius: 70%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.name{
    font-family: Halant;
    font-size: 24px;
    font-weight: 500;
    color: beige;  
}

.mail{
    color: beige;
}

.aboutme{
    font-family: Halant;
    font-size: 40px;
    font-weight: 600;
    color: beige;
    
}

.profile{
    font-family: Halant;
    font-size: 24px;
    font-weight: 500;
    color: beige;
    max-width: 500px;
}
.button{
    background-color: azure;
    color: blue;
    padding: 8px 12px;
    font-size: 40px;
    font-weight: 500;

}